<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>File Uploader - coligo.io</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>

  <video width="400" controls>
    <source src="prueba.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>


  <p>
    <a href="https://www.bigbuckbunny.org/" target="_blank">Ir a video</a>.
  </p>

  <br>

  <h2> Reproducir audio </h2>
  <audio controls>

    <source src="musica.mp3" type="audio/mpeg">
    Please <a href="musica.mp3" download>download</a> the audio file.


  </audio>


</body>
</html>
